body {
  background-color: #012634;
  font-family: sans-serif;
  color: grey;
  margin: 0px;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: grey;
}

h2 {

}

h3 {

}

h4 {
  text-align: right;
  margin-right: 22px;
}

h5 {

}

h6 {

}

p {
  font-size: 20px;
  text-align: center;
  color: grey;
}

hr {
  color: teal;
  border-style: solid;
 -webkit-filter: drop-shadow(0px 0px 5px teal);
 filter: drop-shadow(0px 0px 5px teal);
}

.dato {
  margin-top: 50px;
}

.innhold {
  font-weight: bold;
  font-size: 50px;
  line-height: 5px;
}

.footer_text {
  font-style: italic;
  color: teal;
}

 .bilde {
   width: 200px;
   border-radius: 50%;
   border-color: teal;
   border-width: 4px;
   border-style: solid;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
  -webkit-filter: drop-shadow(0px 0px 15px teal);
  filter: drop-shadow(0px 0px 15px teal);
 }

.footer_div {
  background: #012634;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 29px;
  border-top: 2px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: teal;
  border-style: solid;
 -webkit-filter: drop-shadow(0px 0px 5px teal);
 filter: drop-shadow(0px 0px 5px teal);
}

.footer_text {
  text-align: right;
  margin-right: 10px;
  margin-top: 8px;
  color: tomato;
}
